
# Loads default set of integrations. Do not remove.
default_config:

# Load frontend themes from the themes folder
frontend:
  themes: !include_dir_merge_named themes

automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml


influxdb: !include influxdb.yaml
      
template:
  sensor: !include templates/sensor_power.yaml

mqtt:
  sensor: !include sensors/mqtt_gas.yaml